@use "var" as *;
@media screen and (max-width: 768px) {
  nav {
    position: relative;
    height: 15vh !important;
    display: block !important;

    .logo {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 201;
      .line {
        width: 30px;
        height: 3px;
        background: $white_color;
        margin: 5px;
      }
    }
    .nav-links {
      position: fixed;
      z-index: 200;
      background: $main_color;
      height: 100vh !important;
      width: 100% !important;
      flex-direction: column !important;
      clip-path: circle(100px at 90% -20%);
      transition: all $trans ease-out;
      pointer-events: none;

      .sub-links {
        top: $sizes * 2 !important;
        left: -$sizes * 2 !important;
      }
      li {
        opacity: 0;
        a {
          font-size: 25px;
        }
      }
      li.fade {
        opacity: 1;
      }
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -20%);
      pointer-events: all;
    }
  }
}
