@media screen and (max-width: 768px) {
  nav {
    position: relative;
    height: 15vh !important;
    display: block !important;
  }
  nav .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  nav .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 201;
  }
  nav .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 5px;
  }
  nav .nav-links {
    position: fixed;
    z-index: 200;
    background: #22223b;
    height: 100vh !important;
    width: 100% !important;
    flex-direction: column !important;
    -webkit-clip-path: circle(100px at 90% -20%);
    clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  nav .nav-links .sub-links {
    top: 2rem !important;
    left: -2rem !important;
  }
  nav .nav-links li {
    opacity: 0;
  }
  nav .nav-links li a {
    font-size: 25px;
  }
  nav .nav-links li.fade {
    opacity: 1;
  }
  nav .nav-links.open {
    -webkit-clip-path: circle(1000px at 90% -20%);
    clip-path: circle(1000px at 90% -20%);
    pointer-events: all;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  height: 10vh;
  background: #22223b;
}
nav .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  width: 50%;
  height: 100%;
  margin-left: auto;
}
nav .nav-links li,
nav .nav-links .main-link {
  position: relative;
  align-items: center;
  align-items: start;
}
nav .nav-links li a,
nav .nav-links .main-link a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  padding-bottom: 30px;
}
nav .nav-links li .before-sub-links .sub-links,
nav .nav-links .main-link .before-sub-links .sub-links {
  background: #22223b;
  position: absolute;
  top: 2.8rem;
  left: 0rem;
  width: 8rem;
  padding: 0rem 1rem;
  border-radius: 0.25rem;
  list-style: none;
  transition: 0.3s;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
nav .nav-links li .before-sub-links .sub-links li,
nav .nav-links .main-link .before-sub-links .sub-links li {
  margin: 1rem 0;
  font-size: 1rem;
}
nav .nav-links .main-link:hover .sub-links {
  pointer-events: all;
  opacity: 1;
}
nav .logo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
nav .logo li {
  margin-left: 1rem;
  list-style: none;
  z-index: 201;
  position: relative;
  align-items: center;
  align-items: start;
}
nav .logo li a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  padding-bottom: 30px;
}
nav .logo li:hover {
  border-bottom: none;
}
nav li {
  transition: all 0.2s !important;
}
nav li:hover {
  border-bottom: 1px solid #e71d36;
}
